<div class="col-md-3">
    <div class="row">
        <a href="{% url 'superUser:event:index' %}" style="width: 100%" type="button" class="btn btn-default">
            Manage Events
        </a>
    </div>
    <div class="row">
        <a href="{% url 'superUser:public:homePageIndex' %}" style="width: 100%" type="button" class="btn btn-default">
            Manage Home Page</a>
    </div>
    <div class="row">
        <a href="{% url 'superUser:public:appCostantsIndex' %}" style="width: 100%" type="button" class="btn btn-default">Mange App Content</a>
    </div>

</div>