{% extends 'layouts/admin/main.html' %}
{% load staticfiles %}
{#{% block staticResources %}#}
{##}
{#{% endblock staticResources %}#}

{% block content %}

    <div class="container-fluid" style="margin-top: 50px">
        {% include 'landing/_landingLeftIndex.html' %}
     <div class="col-md-9">
        <h3>Welcome to WyreList management panel</h3>
    </div>
    </div>



{% endblock content %}