<section id="landing" *ngIf="homePageData">
  <div class="container-fluid">

    <div id="landingImage"
         [ngStyle]="{'background':'url('+homePageData.homePage.landingImage+') center fixed  no-repeat'}">
    </div>
  </div>


  <div class="container">
    <div class="col-md-12 ui-sortable" *ngIf="homePageData.homePage.siteInfos" style="margin-top: 50px">
      <div class="panel panel-inverse">
        <div class="panel-heading">
          <h3 class="panel-title text-center" style="font-size: 20px">What is it all about?</h3>
        </div>
        <div class="panel-body">
          <div *ngFor="let siteInfo of homePageData.homePage.siteInfos; let i = index;"
               class="landingImageBox col-md-4 col-sm-6">
            <!--[ngClass]="{'col-md-offset-1':(i===1||i===2), 'col-md-3 col-sm-6':(i===0|| i===1||i===2)}"-->

            <!-- begin work -->
            <div class="row infoImageHolder">
              <a href="#"><img class="infoImage" [src]="siteInfo.image"></a>
            </div>
            <div class="row text-center">
              <h4>{{siteInfo.text}}</h4>
            </div>

            <!-- end work -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 ui-sortable" *ngIf="homePageData.event" style="margin-top: 50px">
      <div class="panel panel-inverse">
        <div class="panel-heading">
          <h3 class="panel-title text-center" style="font-size: 20px">Recently Added Events</h3>
        </div>
        <div class="panel-body">
          <div *ngFor="let event of homePageData.event; let i = index;"
               class="landingImageBox col-md-4 col-sm-6">
            <!--[ngClass]="{'col-md-offset-1':(i===1||i===2), 'col-md-3 col-sm-6':(i===0|| i===1||i===2)}"-->

            <!-- begin work -->
            <div class="row infoImageHolder">
              <a [routerLink]="['/event',event.uuid]"><img class="infoImage" [src]="event.event_images ? event.event_images.image:''"></a>
            </div>
            <div class="row text-center">
              <h4>{{event.description}}</h4>
            </div>

            <!-- end work -->
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
