<header id="home" class="header" style="min-height: 80px">
    {% load staticfiles %}
    <!-- TOP BAR -->
    <div id="main-nav" class="navbar navbar-inverse bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header responsive-logo">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                        data-target="#bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <h2>WyreList</h2>
                    {#				<img src="{% static 'landingResources/images/logo.png'%}" alt="Zerif">#}
                </div>
            </div>
            <nav class="navbar-collapse collapse" role="navigation" id="bs-navbar-collapse">
                <ul class="nav navbar-nav navbar-right responsive-nav main-nav-list">
                    <li><a href="{% url 'ops:landing' %}">Home</a></li>

                    {% if user.is_authenticated %}
                        <li><a href="{% url 'ops:user_logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'ops:user_login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    <!-- / END TOP BAR -->

    <!-- BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES -->
    <!-- / END BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES  -->

</header> <!-- / END HOME SECTION  -->
