<div class="col-md-3">
    <div class="row">
        <a href="{% url 'superUser:public:homePageIndex' %}" style="width: 100%" type="button" class="btn btn-default">
            All Home Pages
        </a>
    </div>
    <div class="row">
        <a href="{% url 'superUser:public:addHomePage' %}" style="width: 100%" type="button" class="btn btn-default">Add Home Page</a>
    </div>



</div>