<div id="page-container" class="fade page-sidebar-fixed page-header-fixed in">
    <div id="header" class="header navbar navbar-default navbar-fixed-top">
        <!-- begin container-fluid -->
        <div class="container-fluid">
            <!-- begin mobile sidebar expand / collapse button -->
            <div class="navbar-header">
                <a [routerLink]="['/']" class="navbar-brand"><span class="navbar-logo"></span> WyreList</a>
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- end mobile sidebar expand / collapse button -->

            <!-- begin header navigation right -->
            <ul class="nav navbar-nav navbar-right">
                <!--<li>-->
                    <!--<form class="navbar-form full-width">-->
                        <!--<div class="form-group">-->
                            <!--<input type="text" class="form-control" placeholder="Enter keyword">-->
                            <!--<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">-->
                        <!--<i class="fa fa-bell-o"></i>-->
                        <!--<span class="label">5</span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu media-list pull-right animated fadeInDown">-->
                        <!--<li class="dropdown-header">Notifications (5)</li>-->
                        <!--<li class="media">-->
                            <!--<a href="javascript:;">-->
                                <!--<div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>-->
                                <!--<div class="media-body">-->
                                    <!--<h6 class="media-heading">Server Error Reports</h6>-->
<!--&lt;!&ndash;&ndash;&gt;-->
                                    <!--<div class="text-muted f-s-11">3 minutes ago</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="media">-->
                            <!--<a href="javascript:;">-->
                                <!--<div class="media-left"><img src="assets/img/user-1.jpg" class="media-object" alt="">-->
                                <!--</div>-->
                                <!--<div class="media-body">-->
                                    <!--<h6 class="media-heading">John Smith</h6>-->
<!--&lt;!&ndash;&ndash;&gt;-->
                                    <!--<p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>-->
<!--&lt;!&ndash;&ndash;&gt;-->
                                    <!--<div class="text-muted f-s-11">25 minutes ago</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="media">-->
                            <!--<a href="javascript:;">-->
                                <!--<div class="media-left"><img src="assets/img/user-2.jpg" class="media-object" alt="">-->
                                <!--</div>-->
                                <!--<div class="media-body">-->
                                    <!--<h6 class="media-heading">Olivia</h6>-->
<!--&lt;!&ndash;&ndash;&gt;-->
                                    <!--<p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>-->
<!--&lt;!&ndash;&ndash;&gt;-->
                                    <!--<div class="text-muted f-s-11">35 minutes ago</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="media">-->
                            <!--<a href="javascript:;">-->
                                <!--<div class="media-left"><i class="fa fa-plus media-object bg-green"></i></div>-->
                                <!--<div class="media-body">-->
                                    <!--<h6 class="media-heading"> New User Registered</h6>-->
<!--&lt;!&ndash;&ndash;&gt;-->
                                    <!--<div class="text-muted f-s-11">1 hour ago</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="media">-->
                            <!--<a href="javascript:;">-->
                                <!--<div class="media-left"><i class="fa fa-envelope media-object bg-blue"></i></div>-->
                                <!--<div class="media-body">-->
                                    <!--<h6 class="media-heading"> New Email From John</h6>-->
<!--&lt;!&ndash;&ndash;&gt;-->
                                    <!--<div class="text-muted f-s-11">2 hour ago</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="dropdown-footer text-center">-->
                            <!--<a href="javascript:;">View more</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li class="dropdown navbar-user" *ngIf="userToken">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/app/assets/img/user-13.jpg" alt="">
                        <span class="hidden-xs">{{logedInUserName}}</span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu animated fadeInLeft">
                        <li class="arrow"></li>
                        <li><a href="javascript:;">Edit Profile</a></li>
                        <li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
                        <li><a href="javascript:;">Calendar</a></li>
                        <li><a href="javascript:;">Setting</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:;">Log Out</a></li>
                    </ul>
                </li>
              <li *ngIf="!userToken">
                <a [routerLink]="['/register']">Register</a>
              </li>
              <li *ngIf="!userToken">
                <a [routerLink]="['/login']">Login</a>
              </li>
            </ul>
            <!-- end header navigation right -->
        </div>
        <!-- end container-fluid -->
    </div>
    <div id="sidebar" class="sidebar" *ngIf="showSidePanel">
        <!-- begin sidebar scrollbar -->
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
            <div data-scrollbar="true" data-height="100%" data-init="true"
                 style="overflow: hidden; width: auto; height: 100%;">
                <!-- begin sidebar user -->
                <ul class="nav" *ngIf="userToken">
                    <li class="nav-profile">
                        <div class="image">
                            <a href="javascript:;"><img src="/app/assets/img/user-13.jpg" alt=""></a>
                        </div>
                        <div class="info" *ngIf="logedInUserName">
                            {{logedInUserName}}
                            <!--<small>Front end developer</small>-->
                        </div>
                        <!--<div class="info" *ngif="!logedInUserName">-->
                            <!--Please Login-->
                            <!--<small>Front end developer</small>-->
                        <!--</div>-->
                    </li>

                </ul>
                <!-- end sidebar user -->
                <!-- begin sidebar nav -->
                <ul class="nav" *ngIf="!userToken">
                    <li class="nav-header">Navigation</li>
                    <li>
                        <a [routerLink]="['/login']">
                            <i class="fa fa-laptop"></i>
                            <span>Login</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/register']">
                            <i class="fa fa-user"></i>
                            <span>Register</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav" *ngIf="userToken">
                    <li class="nav-header">Navigation</li>
                    <li>
                        <a [routerLink]="['/events']">
                            <i class="fa fa-globe"></i>
                            <span>All Events</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/addEvent']">
                            <i class="fa fa-plus"></i>
                            <span>Add Event</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['EventList']">
                            <i class="fa fa-globe"></i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="logout()">
                            <i class="fa fa-laptop"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                    <!--<li class="has-sub">-->
                        <!--<a href="javascript:;">-->
                            <!--<span class="badge pull-right">10</span>-->
                            <!--<i class="fa fa-inbox"></i>-->
                            <!--<span>Login</span>-->
                        <!--</a>-->
                        <!--<ul class="sub-menu">-->
                            <!--<li><a href="email_inbox.html">Inbox v1</a></li>-->
                            <!--<li><a href="email_inbox_v2.html">Inbox v2</a></li>-->
                            <!--<li><a href="email_compose.html">Compose</a></li>-->
                            <!--<li><a href="email_detail.html">Detail</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="has-sub">-->
                        <!--<a href="javascript:;">-->
                            <!--<b class="caret pull-right"></b>-->
                            <!--<i class="fa fa-suitcase"></i>-->
                            <!--<span>UI Elements</span>-->
                        <!--</a>-->
                        <!--<ul class="sub-menu">-->
                            <!--<li><a href="ui_general.html">General</a></li>-->
                            <!--<li><a href="ui_typography.html">Typography</a></li>-->
                            <!--<li><a href="ui_tabs_accordions.html">Tabs &amp; Accordions</a></li>-->
                            <!--<li><a href="ui_unlimited_tabs.html">Unlimited Nav Tabs</a></li>-->
                            <!--<li><a href="ui_modal_notification.html">Modal &amp; Notification</a></li>-->
                            <!--<li><a href="ui_widget_boxes.html">Widget Boxes</a></li>-->
                            <!--<li><a href="ui_media_object.html">Media Object</a></li>-->
                            <!--<li><a href="ui_buttons.html">Buttons</a></li>-->
                            <!--<li><a href="ui_icons.html">Icons</a></li>-->
                            <!--<li><a href="ui_simple_line_icons.html">Simple Line Icons</a></li>-->
                            <!--<li><a href="ui_ionicons.html">Ionicons</a></li>-->
                            <!--<li><a href="ui_tree.html">Tree View</a></li>-->
                            <!--<li><a href="ui_language_bar_icon.html">Language Bar &amp; Icon</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="has-sub active">-->
                        <!--<a href="javascript:;">-->
                            <!--<b class="caret pull-right"></b>-->
                            <!--<i class="fa fa-file-o"></i>-->
                            <!--<span>Form Stuff</span>-->
                        <!--</a>-->
                        <!--<ul class="sub-menu">-->
                            <!--<li class="active"><a href="form_elements.html">Form Elements</a></li>-->
                            <!--<li><a href="form_plugins.html">Form Plugins</a></li>-->
                            <!--<li><a href="form_slider_switcher.html">Form Slider + Switcher</a></li>-->
                            <!--<li><a href="form_validation.html">Form Validation</a></li>-->
                            <!--<li><a href="form_wizards.html">Wizards</a></li>-->
                            <!--<li><a href="form_wizards_validation.html">Wizards + Validation</a></li>-->
                            <!--<li><a href="form_wysiwyg.html">WYSIWYG</a></li>-->
                            <!--<li><a href="form_editable.html">X-Editable</a></li>-->
                            <!--<li><a href="form_multiple_upload.html">Multiple File Upload</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="has-sub">-->
                        <!--<a href="javascript:;">-->
                            <!--<b class="caret pull-right"></b>-->
                            <!--<i class="fa fa-th"></i>-->
                            <!--<span>Tables  <span class="label label-theme m-l-5">NEW</span></span>-->
                        <!--</a>-->
                        <!--<ul class="sub-menu">-->
                            <!--<li><a href="table_basic.html">Basic Tables</a></li>-->
                            <!--<li class="has-sub">-->
                                <!--<a href="javascript:;"><b class="caret pull-right"></b> Managed Tables</a>-->
                                <!--<ul class="sub-menu">-->
                                    <!--<li><a href="table_manage.html">Default</a></li>-->
                                    <!--<li><a href="table_manage_autofill.html">Autofill</a></li>-->
                                    <!--<li><a href="table_manage_buttons.html">Buttons</a></li>-->
                                    <!--<li><a href="table_manage_colreorder.html">ColReorder</a></li>-->
                                    <!--<li><a href="table_manage_fixed_columns.html">Fixed Column</a></li>-->
                                    <!--<li><a href="table_manage_fixed_header.html">Fixed Header</a></li>-->
                                    <!--<li><a href="table_manage_keytable.html">KeyTable</a></li>-->
                                    <!--<li><a href="table_manage_responsive.html">Responsive</a></li>-->
                                    <!--<li><a href="table_manage_rowreorder.html">RowReorder <i-->
                                            <!--class="fa fa-paper-plane text-theme m-l-5"></i></a></li>-->
                                    <!--<li><a href="table_manage_scroller.html">Scroller</a></li>-->
                                    <!--<li><a href="table_manage_select.html">Select</a></li>-->
                                    <!--<li><a href="table_manage_combine.html">Extension Combination</a></li>-->
                                <!--</ul>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--<li class="has-sub">-->
                        <!--<a href="javascript:;">-->
                            <!--<b class="caret pull-right"></b>-->
                            <!--<i class="fa fa-star"></i>-->
                            <!--<span>Front End</span>-->
                        <!--</a>-->
                        <!--<ul class="sub-menu">-->
                            <!--<li><a href="../../frontend/one-page-parallax/template_content_html/index.html"-->
                                   <!--target="_blank">One Page Parallax</a></li>-->
                            <!--<li><a href="../../frontend/blog/template_content_html/index.html" target="_blank">Blog</a>-->
                            <!--</li>-->
                            <!--<li><a href="../../frontend/forum/template_content_html/index.html"-->
                                   <!--target="_blank">Forum</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="has-sub">-->
                        <!--<a href="javascript:;">-->
                            <!--<b class="caret pull-right"></b>-->
                            <!--<i class="fa fa-envelope"></i>-->
                            <!--<span>Email Template</span>-->
                        <!--</a>-->
                        <!--<ul class="sub-menu">-->
                            <!--<li><a href="email_system.html">System Template</a></li>-->
                            <!--<li><a href="email_newsletter.html">Newsletter Template</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="has-sub">-->
                        <!--<a href="javascript:;">-->
                            <!--<b class="caret pull-right"></b>-->
                            <!--<i class="fa fa-area-chart"></i>-->
                            <!--<span>Chart <span class="label label-theme m-l-5">NEW</span></span>-->
                        <!--</a>-->
                        <!--<ul class="sub-menu">-->
                            <!--<li><a href="chart-flot.html">Flot Chart</a></li>-->
                            <!--<li><a href="chart-morris.html">Morris Chart</a></li>-->
                            <!--<li><a href="chart-js.html">Chart JS</a></li>-->
                            <!--<li><a href="chart-d3.html">d3 Chart <i class="fa fa-paper-plane text-theme m-l-5"></i></a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li><a href="calendar.html"><i class="fa fa-calendar"></i> <span>Calendar</span></a></li>-->
                    <!--<li class="has-sub">-->
                        <!--<a href="javascript:;">-->
                            <!--<b class="caret pull-right"></b>-->
                            <!--<i class="fa fa-map-marker"></i>-->
                            <!--<span>Map</span>-->
                        <!--</a>-->
                        <!--<ul class="sub-menu">-->
                            <!--<li><a href="map_vector.html">Vector Map</a></li>-->
                            <!--<li><a href="map_google.html">Google Map</a></li>-->
                        <!--</ul>-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--<li class="has-sub">-->
                        <!--<a href="javascript:;">-->
                            <!--<b class="caret pull-right"></b>-->
                            <!--<i class="fa fa-camera"></i>-->
                            <!--<span>Gallery</span>-->
                        <!--</a>-->
                        <!--<ul class="sub-menu">-->
                            <!--<li><a href="gallery.html">Gallery v1</a></li>-->
                            <!--<li><a href="gallery_v2.html">Gallery v2</a></li>-->
                        <!--</ul>-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--<li class="has-sub">-->
                        <!--<a href="javascript:;">-->
                            <!--<b class="caret pull-right"></b>-->
                            <!--<i class="fa fa-cogs"></i>-->
                            <!--<span>Page Options <span class="label label-theme m-l-5">NEW</span></span>-->
                        <!--</a>-->
                        <!--<ul class="sub-menu">-->
                            <!--<li><a href="page_blank.html">Blank Page</a></li>-->
                            <!--<li><a href="page_with_footer.html">Page with Footer</a></li>-->
                            <!--<li><a href="page_without_sidebar.html">Page without Sidebar</a></li>-->
                            <!--<li><a href="page_with_right_sidebar.html">Page with Right Sidebar</a></li>-->
                            <!--<li><a href="page_with_minified_sidebar.html">Page with Minified Sidebar</a></li>-->
                            <!--<li><a href="page_with_two_sidebar.html">Page with Two Sidebar</a></li>-->
                            <!--<li><a href="page_with_line_icons.html">Page with Line Icons</a></li>-->
                            <!--<li><a href="page_with_ionicons.html">Page with Ionicons</a></li>-->
                            <!--<li><a href="page_full_height.html">Full Height Content</a></li>-->
                            <!--<li><a href="page_with_wide_sidebar.html">Page with Wide Sidebar</a></li>-->
                            <!--<li><a href="page_with_light_sidebar.html">Page with Light Sidebar</a></li>-->
                            <!--<li><a href="page_with_mega_menu.html">Page with Mega Menu</a></li>-->
                            <!--<li><a href="page_with_top_menu.html">Page with Top Menu <i-->
                                    <!--class="fa fa-paper-plane text-theme m-l-5"></i></a></li>-->
                            <!--<li><a href="page_with_boxed_layout.html">Page with Boxed Layout <i-->
                                    <!--class="fa fa-paper-plane text-theme m-l-5"></i></a></li>-->
                            <!--<li><a href="page_with_mixed_menu.html">Page with Mixed Menu <i-->
                                    <!--class="fa fa-paper-plane text-theme m-l-5"></i></a></li>-->
                            <!--<li><a href="page_boxed_layout_with_mixed_menu.html">Boxed Layout with Mixed Menu <i-->
                                    <!--class="fa fa-paper-plane text-theme m-l-5"></i></a></li>-->
                            <!--<li><a href="page_with_transparent_sidebar.html">Page with Transparent Sidebar <i-->
                                    <!--class="fa fa-paper-plane text-theme m-l-5"></i></a></li>-->
                        <!--</ul>-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--<li class="has-sub">-->
                        <!--<a href="javascript:;">-->
                            <!--<b class="caret pull-right"></b>-->
                            <!--<i class="fa fa-gift"></i>-->
                            <!--<span>Extra</span>-->
                        <!--</a>-->
                        <!--<ul class="sub-menu">-->
                            <!--<li><a href="extra_timeline.html">Timeline</a></li>-->
                            <!--<li><a href="extra_coming_soon.html">Coming Soon Page</a></li>-->
                            <!--<li><a href="extra_search_results.html">Search Results</a></li>-->
                            <!--<li><a href="extra_invoice.html">Invoice</a></li>-->
                            <!--<li><a href="extra_404_error.html">404 Error Page</a></li>-->
                            <!--<li><a href="extra_profile.html">Profile Page</a></li>-->
                        <!--</ul>-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--<li class="has-sub">-->
                        <!--<a href="javascript:;">-->
                            <!--<b class="caret pull-right"></b>-->
                            <!--<i class="fa fa-key"></i>-->
                            <!--<span>Login &amp; Register</span>-->
                        <!--</a>-->
                        <!--<ul class="sub-menu">-->
                            <!--<li><a href="login.html">Login</a></li>-->
                            <!--<li><a href="login_v2.html">Login v2</a></li>-->
                            <!--<li><a href="login_v3.html">Login v3</a></li>-->
                            <!--<li><a href="register_v3.html">Register v3</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="has-sub">-->
                        <!--<a href="javascript:;">-->
                            <!--<b class="caret pull-right"></b>-->
                            <!--<i class="fa fa-cubes"></i>-->
                            <!--<span>Version <span class="label label-theme m-l-5">NEW</span></span>-->
                        <!--</a>-->
                        <!--<ul class="sub-menu">-->
                            <!--<li><a href="javascript:;">HTML</a></li>-->
                            <!--<li><a href="../template_content_ajax/index.html">AJAX</a></li>-->
                            <!--<li><a href="../template_content_angularjs/index.html">ANGULAR JS<i-->
                                    <!--class="fa fa-paper-plane text-theme m-l-5"></i></a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="has-sub">-->
                        <!--<a href="javascript:;">-->
                            <!--<b class="caret pull-right"></b>-->
                            <!--<i class="fa fa-medkit"></i>-->
                            <!--<span>Helper</span>-->
                        <!--</a>-->
                        <!--<ul class="sub-menu">-->
                            <!--<li><a href="helper_css.html">Predefined CSS Classes</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="has-sub">-->
                        <!--<a href="javascript:;">-->
                            <!--<b class="caret pull-right"></b>-->
                            <!--<i class="fa fa-align-left"></i>-->
                            <!--<span>Menu Level</span>-->
                        <!--</a>-->
                        <!--<ul class="sub-menu">-->
                            <!--<li class="has-sub">-->
                                <!--<a href="javascript:;">-->
                                    <!--<b class="caret pull-right"></b>-->
                                    <!--Menu 1.1-->
                                <!--</a>-->
                                <!--<ul class="sub-menu">-->
                                    <!--<li class="has-sub">-->
                                        <!--<a href="javascript:;">-->
                                            <!--<b class="caret pull-right"></b>-->
                                            <!--Menu 2.1-->
                                        <!--</a>-->
                                        <!--<ul class="sub-menu">-->
                                            <!--<li><a href="javascript:;">Menu 3.1</a></li>-->
                                            <!--<li><a href="javascript:;">Menu 3.2</a></li>-->
                                        <!--</ul>-->
                                    <!--</li>-->
                                    <!--<li><a href="javascript:;">Menu 2.2</a></li>-->
                                    <!--<li><a href="javascript:;">Menu 2.3</a></li>-->
                                <!--</ul>-->
                            <!--</li>-->
                            <!--<li><a href="javascript:;">Menu 1.2</a></li>-->
                            <!--<li><a href="javascript:;">Menu 1.3</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!-- begin sidebar minify button -->
                    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i
                            class="fa fa-angle-double-left"></i></a></li>
                    <!-- end sidebar minify button -->
                </ul>
                <!-- end sidebar nav -->
            </div>
            <div class="slimScrollBar ui-draggable"
                 style="background-color: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 354.76391554702496px; background-position: initial initial; background-repeat: initial initial;"></div>
            <div class="slimScrollRail"
                 style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div>
        </div>
        <!-- end sidebar scrollbar -->
    </div>
    <div [ngClass]="{'sidebar-bg':showSidePanel}" ></div>
    <div id="content" [ngClass]="{'content':showSidePanel}">

            <router-outlet> </router-outlet>
    </div>
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade in" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
</div>
