{% extends 'layouts/admin/main.html' %}
{% block content %}


    <div class="content-40mg">
        <div class="container">

            <div class="row text-center">
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-offset-3">
                    <div class="panel no-margin panel-default">
                        <div class="panel-heading">Login to your account</div>
                        <div class="panel-body">
                            <form role="form" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="ion-android-mail"
                                                                             style="font-size:9px;"></span></div>
                                        {{ form.username }}
                                    </div>
                                    {{ form.username.errors }}
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="ion-ios-locked"></span></div>
                                        {{ form.password }}
                                    </div>
                                    {{ form.password.errors }}
                                    {{ form.non_field_errors }}
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Remember me
                                    </label>
                                </div>
                                <hr class="mb20 mt15">
                                <button type="submit" class="btn btn-rw btn-primary">Submit</button>
                                &nbsp;&nbsp;&nbsp;
                                <small><a href="#">Forgot your password?</a></small>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock content %}