<!--<input [ngModel]="time"  id="timepicker1" #timePicker type="text" class="form-control" (blur)="emitTimeChangeEvent(timePicker.value)" (change)="emitTimeChangeEvent(timePicker.value)" (keyup)="emitTimeChangeEvent(timePicker.value)">-->
<div class="col-lg-12">
  <div class="col-lg-4">
    <div class="form-group">
      <select class="{{componentClass}}" id="date{{componentId}" [(ngModel)]="outputDate.date"
              (ngModelChange)="emitDateChangeEvent()">
        <option *ngFor="let date of dateInput.date; let i = index" value="{{date}}"> {{date}}

        </option>
      </select>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="form-group">
      <select class="{{componentClass}}" id="month{{componentId}" [(ngModel)]="outputDate.month"
              (ngModelChange)="emitDateChangeEvent()">
        <option *ngFor="let month of abbreviatedMonths ? dateInput.monthsShort : dateInput.month; let i = index" value="{{month}}"> {{month}}
        </option>
      </select>
    </div>
  </div>
  <div class="col-lg-4" [hidden]="twentyFourHours">
    <div class="form-group">
      <select class="{{componentClass}}" id="year{{componentId}" [(ngModel)]="outputDate.year"
              (ngModelChange)="emitDateChangeEvent()">
        <option *ngFor="let year of dateInput.year; let i = index" value="{{year}}"> {{year}}
        </option>
      </select>
    </div>
  </div>
</div>
