<!--<input [ngModel]="time"  id="timepicker1" #timePicker type="text" class="form-control" (blur)="emitTimeChangeEvent(timePicker.value)" (change)="emitTimeChangeEvent(timePicker.value)" (keyup)="emitTimeChangeEvent(timePicker.value)">-->
<div class="col-lg-12">
  <div class="col-lg-4">
    <div class="form-group">
      <label>Hour</label>
      <select class="{{componentClass}}" id="hour{{componentId}" [(ngModel)]="outputTime.hours"
              (ngModelChange)="emitTimeChangeEvent()">
        <option *ngFor="let hour of twentyFourHours ? time.hours : time.hoursAmPm; let i = index" value="{{hour}}"> {{hour}}

        </option>
      </select>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="form-group">
      <label>Minute</label>
      <select class="{{componentClass}}" id="minute{{componentId}" [(ngModel)]="outputTime.minutes"
              (ngModelChange)="emitTimeChangeEvent()">
        <option *ngFor="let minute of time.minutes; let i = index" value="{{minute}}"> {{minute}}
        </option>
      </select>
    </div>
  </div>
  <div class="col-lg-4" [hidden]="twentyFourHours">
    <div class="form-group">
      <label>Am/Pm</label>
      <select class="{{componentClass}}" id="amPm{{componentId}" [(ngModel)]="outputTime.ampm"
              (ngModelChange)="emitTimeChangeEvent()">
        <option *ngFor="let ampmInstance of time.ampm; let i = index" value="{{ampmInstance}}"> {{ampmInstance}}
        </option>
      </select>
    </div>
  </div>
</div>
