<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Wyrelist</title>
  <base href="/">

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet">
  <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.css" rel="stylesheet">
  <link href="/assets/css/animate.min.css" rel="stylesheet">
  <link href="/assets/css/style.min.css" rel="stylesheet">
  <link href="/assets/css/style-responsive.min.css" rel="stylesheet">
  <link href="./assets/css/theme/default.css" rel="stylesheet" id="theme">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuM08PJs00SK8Xyclb0DKaWz0_sMFtqwI"></script>

  {{#unless environment.production}}
  <script src="/ember-cli-live-reload.js" type="text/javascript"></script>
  {{/unless}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root>Loading...</app-root>

  <script src="/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
  <script src="/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
  <script src="/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
  <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
  <script src="/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
  <script src="/assets/js/apps.min.js"></script>

</body>
</html>
